{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "About State GeoNode" %} — {{ block.super }} {% endblock %}

{% block body %}
  <div class="page-header">
    <h2>About State GeoNode</h2>
  </div>
  <p>The State GeoNode is a digital service provided by the U.S. Department of State to provide open geographic data produced by or compiled by the U.S. Government to the public, U.S. Government decision-makers, and partners on complex emergencies, natural disasters, and diplomatic activities world-wide.</p>

{% endblock %}

