{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "About State GeoNode" %} — {{ block.super }} {% endblock %}

{% block body %}
  <div class="page-header">
    <h2>About State GeoNode</h2>
  </div>
  <p>The State GeoNode is a digital service provided by the U.S. Department of State to provide open geographic data produced by or compiled by the U.S. Government to the public, U.S. Government decision-makers, and partners on complex emergencies, natural disasters, and diplomatic activities world-wide.</p>
  <p>The State GeoNode was developed with support from the U.S. Department of State, <a href="https://hiu.state.gov/">Humanitarian Information Unit</a> and the U.S. Department of State, <a href="http://www.state.gov/m/irm/ediplomacy/">Office of eDiplomacy</a>.</p>

  <p>Most of the open geographic datasets published on State GeoNode are registered on <a href="http://data.gov">Data.Gov</a> and <a href="https://data.hdx.rwlabs.org/">Humanitarian Data Exchange</a>.</p>

  <p>Data.Gov is the central registry of all public open datasets published by the U.S. Government.</p>

  <p>Humanitarian Data Exchange (HDX) is a registry of data for humanitarian response operated by the United Nations Office for the Coordination of Humanitarian Affairs (UNOCHA).  All data from State GeoNode is published to HDX under the "USG" tag (USG stands for U.S. Government).  Click <a href="https://data.hdx.rwlabs.org/dataset?tags=usg">[here]</a> to view a list of all datasets on HDX with the "USG" tag.  HIU also has an organization on HDX (<a href="https://data.hdx.rwlabs.org/organization/us-state-hiu">https://data.hdx.rwlabs.org/organization/us-state-hiu</a>).</p>

{% endblock %}

