{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}

{% block body_class %}home{% endblock %}

{% block middle %}

  {% block hero %}
  <div class="jumbotron">
    <div class="container" style="background: rgba(0,0,0,0.6);border-radius:20px;">
      <h1><i class="fa fa-globe fa-6"></i>{% trans "State GeoNode" %} </h1>
      <p>{% blocktrans %}The State GeoNode is a digital service provided by the U.S. Department of State for publishing open geographic data produced by or compiled by the U.S. Government to the public, U.S. Government decision-makers, and partners on complex emergencies, natural disasters, and diplomatic activities world-wide.{% endblocktrans %}</p>
    </div>
  </div>
  {% endblock %}

  {% block mainbody %}
  <div class="container">
    <div class="row">
    {% with facet_type='home' %}
     {% facets as facets %}
      <div class="col-md-4">
        <p class="text-center"><i class="fa fa-square-o fa-5x rotate-45"></i></p>
        <h2 class="text-center">{{ facets.layer|default:"No" }} Layer{{ facets.layer|pluralize }}</h2>

        <p class="text-center">{% trans "Click to search for open geographic data published by the U.S. Department of State or USAID." %}</p>
        <p class="text-center"><a class="btn btn-default" href="{% url "layer_browse" %}" role="button">{% trans "Explore Data" %} &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <p class="text-center"><i class="fa fa-map-marker fa-5x"></i></p>
        <h2 class="text-center">{{ facets.map|default:"No" }} Map{{ facets.map|pluralize }}</h2>
        <p class="text-center">{% trans "Data is available to explore in pre-made maps with a focus on a geographic area or theme." %}</p>
        <p class="text-center"><a class="btn btn-default" href="{% url "maps_browse" %}" role="button">{% trans "View Maps" %} &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <p class="text-center"><i class="fa fa-cloud-upload fa-5x"></i></p>
        <h2 class="text-center">{{ facets.group|default:"No" }} Group{{ facets.group|pluralize }}</h2>
        <p class="text-center">{% trans "The State GeoNode allows groups in the U.S. Department of State and USAID to easily publish open geographic data." %}</p>
        <p class="text-center"><a class="btn btn-default" href="{% url "group_list" %}" role="button">{% trans "View Groups" %} &raquo;</a></p>
      </div>
    {% endwith %}
    </div>
  </div>
  {% verbatim %}
  <div ng-app="featured">
    <div ng-repeat="item in featured">
      <!--{{ item.title }}-->
    </div>
  </div>
  {% endverbatim %}
  {% endblock %}

{% endblock %}
