{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}

{% block body_class %}home{% endblock %}

{% block middle %}

  {% block hero %}
  <div class="jumbotron">
    <div class="container" style="background: rgba(0,0,0,0.6);border-radius:20px;">
      <h1><i class="fa fa-building-o fa-6"></i>{% trans "Cusco GeoNode" %} </h1>
      <p>{% blocktrans %}The Cusco GeoNode is a geospatial platform provided by the U.S. Department of State, Humanitarian Information Unit as part of the Secondary Cities project.  The Cusco GeoNode is used for collaborating on and sharing geospatial data among the US Government and partners in Peru.  Learn more on the <a href="/about/">about page</a>.{% endblocktrans %}</p>
    </div>
  </div>
  {% endblock %}

  {% block mainbody %}
  <div class="container">
    <div class="row">
    {% with facet_type='home' %}
     {% facets as facets %}
      <div class="col-md-4">
        <p class="text-center"><i class="fa fa-square-o fa-5x rotate-45"></i></p>
        <h2 class="text-center">{{ facets.layer|default:"No" }} Layer{{ facets.layer|pluralize }}</h2>

        <p class="text-center">{% trans "Click to search for geographic data created about Cusco, Peru." %}</p>
        <p class="text-center"><a class="btn btn-default" href="{% url "layer_browse" %}" role="button">{% trans "Explore Data" %} &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <p class="text-center"><i class="fa fa-map-marker fa-5x"></i></p>
        <h2 class="text-center">{{ facets.map|default:"No" }} Map{{ facets.map|pluralize }}</h2>
        <p class="text-center">{% trans "Data is available to explore in pre-made maps with a focus on a theme, such as transportation or disaster preparedness." %}</p>
        <p class="text-center"><a class="btn btn-default" href="{% url "maps_browse" %}" role="button">{% trans "View Maps" %} &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <p class="text-center"><i class="fa fa-cloud-upload fa-5x"></i></p>
        <h2 class="text-center">{{ facets.user|default:"No" }} User{{ facets.user|pluralize }}</h2>
        <p class="text-center">{% trans "The Cusco GeoNode allows users from a variety of organizations to join and contribute." %}</p>
        <p class="text-center"><a class="btn btn-default" href="{% url "user_list" %}" role="button">{% trans "View Users" %} &raquo;</a></p>
      </div>
    {% endwith %}
    </div>
  </div>
  {% verbatim %}
  <div ng-app="featured">
    <div ng-repeat="item in featured">
      <!--{{ item.title }}-->
    </div>
  </div>
  {% endverbatim %}
  {% endblock %}

{% endblock %}
