{% extends "base.html" %}
{% load i18n humanize %}

{% block extra_head %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}firestation/firestation.css" />
{% endblock %}

{% block extra_script %}
    {{ super }}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="{{ STATIC_URL }}firestation/firestation.js"></script>

     <script type="text/javascript">
    var config = {
      centroid: [{{ object.geom.y }}, {{ object.geom.x }}]
    }
    </script>

{% endblock %}

{% block body_outer %}
    <div class="container" ng-controller="fireStationController" ng-app="fireStation">
        <div class="row">
            <div class="span12"></div>
               <div class="span8">
                <h2>{{ object.name }}</h2>
                <hr/>

				<fieldset style="position: relative">
				<label for="Form">Response Capability Form</label>
				<select id="Form" ng-model="selectedForm" ng-options="form as form.name for form in forms"></select>
				
				<label for="Apparatus">Apparatus</label>
				<select id="Apparatus" ng-model="selectedForm.apparatus" ng-options=" opt for opt in choices"></select>
				
				<label for="FireFighter">Firefighter</label>
				<input id="FireFighter" ng-model="selectedForm.firefighter" type="number" min="0"></input>
				
				<label for="FireFighter_EMT">Firefighter EMT</label>
				<input id="FireFighter_EMT" ng-model="selectedForm.firefighter_emt" type="number" min="0" ngMinLength=1 ngMaxLength=2></input>
				
				<label for="FireFighter_Paramedic">Firefighter Paramedic</label>
				<input id="FireFighter_Paramedic" ng-model="selectedForm.firefighter_paramedic" type="number" min="0" ngMinLength=1 ngMaxLength=2></input>
				
				<label for="EMS-Only_EMT">EMS-Only EMT</label>
				<input ng-model="selectedForm.ems_emt" type="number" min="0" ngMinLength=1 ngMaxLength=2></input>
				
				<label for="EMS-Only_Paramedic">EMS-Only Paramedic</label>
				<input id="EMS-Only_Paramedic" ng-model="selectedForm.ems_paramedic" type="number" min="0" ngMinLength=1 ngMaxLength=2></input>
				
				<label for="EMS-Only_Paramedic">Company/Unit Officer</label>
				<input id="Company/Unit_Officer" ng-model="selectedForm.officer" type="number" min="0" ngMinLength=1 ngMaxLength=2></input>
				
				<label for="Company/Unit_Officer_Paramedic">Company/Unit Officer Paramedic</label>
				<input id="Company/Unit_Officer_Paramedic" ng-model="selectedForm.officer_paramedic" type="number" min="0" ngMinLength=1 ngMaxLength=2></input>
				
				<label for="EMS_Supervisor">EMS Supervisor</label>
				<input id="EMS_Supervisor" ng-model="selectedForm.ems_supervisor" type="number" min="0" ngMinLength=1 ngMaxLength=2></input>
				
				<label for="Chief_Officer">Chief Officer</label>
				<input id="Chief_Officer" ng-model="selectedForm.chief" type="number" min="0" ngMinLength=1 ngMaxLength=2></input>
				
				<button ng-click="UpdateOrAddNewRecord(selectedForm)" class="lower_right_button">
				<span ng-bind="selectedForm.name == 'Add New Response Form' ? 'Add Form' : 'Update Form'"></span>
				</button>
				
				</fieldset>
               </div>

                <aside class="span4">
                    <div class="well map-well">
                        <div id="map" style="height:200px"></div>
                        <address>
                            {{ object.address }}<br/>
                            {{ object.city }}, {{ object.state }} {{ object.zipcode }}
                        </address>
                    </div>
                    <div>
                     <table class="table station-detail-table table-bordered table-striped">
                      <tbody>
                        <tr>
                          <td class="station-detail-table-attribute">Jurisdiction</td>
                          <td>{{ object.jurisdiction.county_name }}</td>
                        </tr>
                        <tr>
                          <td class="station-detail-table-attribute">Type</td>
                          <td>{{ object.jurisdiction.get_fcode_display }}</td>
                        </tr>
                        <tr>
                          <td class="station-detail-table-attribute">State</td>
                          <td>{{ object.jurisdiction.state_name }}</td>
                        </tr>
                        <tr>
                          <td class="station-detail-table-attribute">Estimated Population</td>
                          <td>{{ object.jurisdiction.population | intcomma }}</td>
                        </tr>
                        <tr>
                          <td class="station-detail-table-attribute">FIPS</td>
                          <td>{{ object.jurisdiction.county_fipscode }}</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                </aside>
        </div>
    </div>
{%  endblock %}