{% extends "base.html" %}
{% load i18n humanize %}

{% block extra_head %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}firestation/firestation.css" />
{% endblock %}

{% block extra_script %}
    {{ super }}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="{{ STATIC_URL }}firestation/firestation.js"></script>

     <script type="text/javascript">
    var config = {
      centroid: [{{ object.geom.y }}, {{ object.geom.x }}],
	  id: {{object.id}}
    }
    </script>

{% endblock %}

{% block body_outer %}
    <div class="container" ng-controller="fireStationController" ng-app="fireStation">
        <div class="row">
            <div class="span12"></div>
               <div class="span12">
                <h2>{{ object.name }}</h2>
                <hr/>

                <aside class="span4 pull-right">
                    <div class="well map-well">
                        <div id="map" style="height:200px"></div>
                        <address>
                            {{ object.address }}<br/>
                            {{ object.city }}, {{ object.state }} {{ object.zipcode }}
                        </address>
                    </div>
                    <div>
                     <table class="table station-detail-table table-bordered table-striped">
                      <tbody>
                        <tr>
                          <td class="station-detail-table-attribute">Jurisdiction</td>
                          <td>{{ object.jurisdiction.county_name }}</td>
                        </tr>
                        <tr>
                          <td class="station-detail-table-attribute">Type</td>
                          <td>{{ object.jurisdiction.get_fcode_display }}</td>
                        </tr>
                        <tr>
                          <td class="station-detail-table-attribute">State</td>
                          <td>{{ object.jurisdiction.state_name }}</td>
                        </tr>
                        <tr>
                          <td class="station-detail-table-attribute">Estimated Population</td>
                          <td>{{ object.jurisdiction.population | intcomma }}</td>
                        </tr>
                        <tr>
                          <td class="station-detail-table-attribute">FIPS</td>
                          <td>{{ object.jurisdiction.county_fipscode }}</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                </aside>
                <div class="span7 well response-capability-well">
                    <h4>Apparatus and Staffing</h4>
                    <hr/>
                    <ul class="nav nav-tabs apparatus-tabs">

                      <li id="tab-{[ form.id ]}" ng-repeat="form in forms" ng-class="{'active': $last}">
                          <a href="#{[ form.id ]}" data-toggle="tab">{[form.apparatus]} </a>
                      </li>
                      <li ng-click="AddForm()" class="nav-action">Add Apparatus</li>

                    </ul>
                    {% include "firestation/response_capability_inline.html" %}
                </div>
               </div>

        </div>
    </div>
{%  endblock %}